*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.container{
background:rgba(191, 186, 186, 0.87);
padding:30px;
border-radius:15px;
text-align:center;
width:350px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
margin-bottom:20px;
}

.search-box{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:10px;
border:none;
border-radius:8px;
background:#4facfe;
color:white;
cursor:pointer;
}

button:hover{
background:#3c8ee6;
}

.weather-info{
margin-top:20px;
}

#temperature{
font-size:24px;
margin-top:10px;
}

#description{
margin-top:5px;
text-transform:capitalize;
}

img{
margin-top:10px;
width:80px;
}